:root {
 --font: Helvetica;
 --backgroundcolor: #DDE3E3;
}

html, body { 
  font-family: var(--font);
  overflow-x: hidden;
  background: var(--backgroundcolor);
  background-image: linear-gradient(to right, rgb(234, 255, 224) , rgb(192, 218, 243));
}




