.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  flex-wrap: wrap;
}


.description {
  display: flex;
  flex-direction: row;
 
}
.description1 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 7em;
}
.text {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  padding: 1em;

}



@media screen and (max-width: 740px) {
  .description, .description1 {
    flex-direction: column;
  }
  .description {
    margin-bottom: 6em;
  }
  
}